/* Style settings for body. */
body{
    background-image: url('../images/desk_open.png');
    background-repeat: no-repeat;
    background-position: 40% 30%;
    background-size: 70%;
    background-color: #0D0D0D;
}